body {
  background: linear-gradient(#3084ff, #00ff75);
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  padding: 1%;
  min-height: 1000px;
  color: white;
}

ol, ul {
  padding-left: 30px;
}

h1 {
  font-size: 5em;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}


.square {
  background: none;
  border: 2px solid white;
  float: left;
  font-size: 125px;
  font-weight: bold;
  line-height: 34px;
  height: 125px;
  width: 125px;
  margin-right: -1px;
  margin-top: -3px;
  padding: 0;
  text-align: center;
  color: white;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-info {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #7dffbb;
}

.info-title {
  text-transform: uppercase;
  font-weight: bold;
}
